<h1>Add Player Team</h1>
<a [routerLink]="['/playerlist']" class="btn">MY PLAYERS</a>&nbsp;
<a [routerLink]="['/searchplayer']" class="btn">SEARCH</a>&nbsp;

<br>
<br>
<br>
<br>
<!-- <form class="frm">
    <table align="center" class="tbl">
      
        <tr>
            <td ><input type="hidden" class="txt"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><input type="text" name="" placeholder="Player Name*" class="txt"></td>
        </tr>
        <tr>
            <td>
                <select class="txt">
                    <option disabled>Player Role*</option>
                    <option *ngFor="let l of list" value="{{l.player_id}}">{{l.prole}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="text" name="" placeholder="Valid Phone Number*" class="txt"></td>
        </tr>

        <tr>
            <td><a href="" [routerLink]="['/players/playerlist']" class="nextbtn">ADD AS A NEW PLAYER</a></td>
        </tr>

    </table>
</form> -->